<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Blog</a>
            </li>
        </ul>
        <div class="navbar-header">
            <div class="navbar-brand navbar-brand-centered">
                Admin Panel
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    Test XXX
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid ">
    <div class="row " ui-view>
    </div>
    <footer class="row text-center ">
        <div>
            <p>@ 2016-2018 Krzysztof Marecki</p>
        </div>
    </footer>
</div>