
.row {
    border: 1px;
    border-color: red;
    border-style: none;
}

.side {
    background: grey;
}

.buttons {
  display: block;
}

[class^="col-"] > textarea, p{
  margin-top: 0em;
}

[class^="col-"] > h3 {
  margin-top: 0em;
}

div { 
  overflow: visible; 
  white-space: nowrap; 
}

ul {
  list-style-type: none;
}