
.row {
    border: 1px;
    border-color: red;
    border-style: none;
}

.side {
    background: grey;
}

[class^="col-"] > textarea, p{
  margin-top: 0em;
}

[class^="col-"] > h3 {
  margin-top: 0em;
}
