doctype html
html
  head
    title Blog name
    script(src='/bower_components/system.js/dist/system.js')
    script.
        System.config({
          baseURL: '/',
          defaultJSExtensions: true,
          transpiler: 'none',
          map: {
            'jquery': 'bower_components/jquery/dist/jquery.js',
            'angular': 'bower_components/angular/angular.js'
          }, 
          meta: {
            'jquery': {
                format: 'global',
                exports: 'jquery'
            },
            'angular': {
                format: 'global',
                exports: 'angular'
            }
          } 
        });
        SystemJS.import('app.module.js');
    block scripts
  body
    div(ng-app='blogApp' ng-controller='AppController')
      p Hello. {{name}}!
