doctype html
html
  head
    title Blog name
    script(src='/bower_components/system.js/dist/system.js')
    script.
        System.config({
          baseURL: '/scripts',
          defaultJSExtensions: true,
          transpiler: 'none',
          map: {
            'angular': '/bower_components/angular/angular.js'
          }
        });
    block scripts
  body
    div(ng-app='')
      p Hello. {{name}}!
