html
  head
    title= model.title
    link(rel='stylesheets' href='bower_components/bootstrap/dist/css/bootstrap.css')
    script(src='/bower_components/system.js/dist/system.js')
    script.
        System.config({
          baseURL: '/',
          defaultJSExtensions: true,
          transpiler: 'none',
          map: {
            'jquery': 'bower_components/jquery/dist/jquery.js',
            'angular': 'bower_components/angular/angular.js',
            'bootsrap': 'bower_components/bootstrap/dist/js/bootstrap.js',
          }, 
          meta: {
            'jquery': {
                format: 'global',
                exports: 'jquery'
            },
            'angular': {
                format: 'global',
                exports: 'angular'
            },
            'bootsrap': {
                deps: ['jquery']
            }
          } 
        });
    block scripts
  body
    block content