<div class="flex content">
    <form name="signupForm" class="form-horizontal" ng-submit="$ctrl.signup()">
        <div class="form-group">
            <label class="control-label col-sm-4" for="name">User name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" 
                    ng-model="$ctrl.username" required placeholder="Enter user name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="email" 
                    ng-model="$ctrl.email" placeholder="Enter email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="password">Password:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="password" 
                    ng-model="$ctrl.password" required placeholder="Enter password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="repeatPassword">Repeat password:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="repeatPassword" 
                    ng-model="$ctrl.repeatPassword" required placeholder="Repeat password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-info" ng-disabled="signupForm.$invalid">Signup</button>
                <a class="pull-right" ui-sref="login">Do you have an account? Log in!</a>
            </div>
        </div>
    </form>
</div>