<div class="row">
    <a ui-sref="panel.posts-create" class="btn btn-info">New user</a>
</div>
<div class="row">
    <div class="col-xs-6 list">
        <nav>
            <ul>
                <li ng-repeat="user in $ctrl.users">
                    <div class="col-xs-8">
                        <a href="" ng-click="">{{user.userName}}</a>
                    </div>
                    <div class="buttons col-xs-4">
                        <button type="button" class="btn-xs" ng-click="$ctrl.editUser(user.userId)">Edit</button>
                        <button type="button" class="btn-xs" ng-click="$ctrl.removeUser(user.userId)">Del</button>
                     </div>
                </li>
            </ul>
        </nav>
    </div>
</div>