<div class="row">
    <a ui-sref="panel.posts-create" class="btn btn-info">New user</a>
    <a class="btn btn-info" ng-click="$ctrl.saveSelectedUser()">Save</a>
</div>
<div class="row">
    <div class="col-xs-6 list">
        <nav>
            <ul>
                <li ng-repeat="user in $ctrl.users">
                    <div class="col-xs-8">
                        <a href="" ng-click="$ctrl.selectUser(user.userId)">{{user.userName}}</a>
                    </div>
                    <div class="buttons col-xs-4">
                        <button type="button" class="btn-xs" ng-click="$ctrl.editUser(user.userId)">Edit</button>
                        <button type="button" class="btn-xs" ng-click="$ctrl.removeUser(user.userId)">Del</button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-6">
        <form name="userForm" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="name">User name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name" ng-model="$ctrl.selected.userName" required placeholder="Enter user name" />
                    <div ng-messages="userForm.name.$error" ng-show="userForm.name.$touched">
                        <span ng-message="required">User name required</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email:</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" name="email" ng-model="$ctrl.selected.email" placeholder="Enter email" />
                    <div ng-messages="userForm.email.$error" ng-show="userForm.email.$touched">
                        <span ng-message="email">Invalid format</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>