<div class="row">
    <div class="col-xs-4">
        <nav>
            <ul>
                <li ng-repeat="header in $ctrl.model.headers">
                    <div class="col-xs-8">
                        <a href="" ng-click="$ctrl.selectPost(header.postId)">{{header.title}}</a>
                    </div>
                    <div class="buttons col-xs-4">
                        <button type="button" class="btn-xs" ng-click="$ctrl.editPost(header.postId)">Edit</button>
                        <button type="button" class="btn-xs" ng-click="$ctrl.removePost(header.postId)">Del</button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-8">
        <div ng-bind-html="$ctrl.model.selectedPost.textToDisplay" />
    </div>
</div>