<div class="row">
    <div class="col-xs-11">
        <input class="input-lg form-control" type="text" ng-model="$ctrl.model.title" />
    </div>
    <div class="col-xs-1">
        <a class="btn btn-info" ng-click="$ctrl.save()">Save</a></li>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <textarea class="form-control" autosize ng-model="$ctrl.model.text" ng-trim="false">
        </textarea>
    </div>
    <div class="col-xs-6">
        <div ng-bind-html="$ctrl.model.textToDisplay"/>
    </div>
</div>