<div class="flex content">
    <form name="loginForm" class="form-horizontal" ng-submit="$ctrl.login()">
        <div class="form-group">
            <label class="control-label col-sm-4" for="name">User name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" 
                    ng-model="$ctrl.username" required placeholder="Enter user name"/>
                <div ng-messages="loginForm.name.$error" ng-show="loginForm.name.$touched">
                    <span ng-message="required">User name required</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="password">Password:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password" 
                    ng-model="$ctrl.password" required placeholder="Enter password">
                <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                    <span ng-message="required">Password required</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-info" ng-disabled="loginForm.$invalid">Login</button>
                <a class="pull-right" ui-sref="signup">Don't have an account? Sign up!</a>
            </div>
        </div>
    </form>
</div>